Podfile
Moment.xcodeproj/project.pbxproj
Moment.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Moment.xcodeproj/project.xcworkspace/xcuserdata/danny.xcuserdatad/UserInterfaceState.xcuserstate
Moment.xcodeproj/xcuserdata/danny.xcuserdatad/xcschemes/Moment.xcscheme
Moment.xcodeproj/xcuserdata/danny.xcuserdatad/xcschemes/xcschememanagement.plist
Moment.xcworkspace/contents.xcworkspacedata
Moment.xcworkspace/xcuserdata/danny.xcuserdatad/UserInterfaceState.xcuserstate
